{% extends "base.html" %}
{%load static%}

{% block content %}

<div class="row mt-3">
    <div class="col-2"></div>
    <div class="col-8 d-flex justify-content-between align-items-center">
        <div class="input-group mb-3">
            <form class="d-flex" method="GET" action="{% url 'index' %}" role="search">
                <input class="form-control me-2" type="search" name="technika" placeholder="Введите название" style="width: 900px; height: 40px" value="{{ query|default:'' }}">

            </form>
            
            <div class="position-relative ms-4" style="width: 40px;">
                <a href="{% url "zakaz" zakaz %}"><img src="{% static "img/bucket-full.svg" %}" width="40px"></a>
                <span class="badge basket-badge position-absolute top-0 start-100 translate-down">
                    {{ count }}
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="row">
        {% for technika in technikas %}
            <div class="col-md-4 mb-4 d-flex">
                <div class="card-main mb-3">
                    <div>
                        <img src="{{ technika.photo }}" class="img-fluid rounded-start" style="width: 100%; height: 200px; object-fit: fill;" alt="...">
                    </div>
                    <div>
                        <div class="card-body">
                        <a href="{% url "technika" technika.id%}" style="color: black; text-decoration: none"><h3 class="card-title">{{ technika.name }}</h3></a>
                        <div class="card-text text-description">
                            <h5>Категория: {{ technika.category }}</h5>
                            <h5>Количество на складе: {{ technika.amount }} шт</h5>
                            <h5>Страна производитель: {{ technika.country }}</h5>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>



{% endblock %}
