{% extends "base.html" %}
{% load static %}
{% load custom_filters %}


{% block content %}
<div class="container mt-2">
    <div class="row  mb-4">
        <div class="col-8 ">
            <h2>Аудитория</h2>
            <input type="text" class="form-control" id="zakaz-name" value="{{ zakaz_name }}" disabled>
            <input type="text" class="form-control" id="zakaz-author" value="{{ zakaz_author }}" disabled>
            <input type="text" class="form-control" id="zakaz-date" value="{{ zakaz_date }}" disabled>
        </div>
    </div>

    <div class="row_2 mt-3">
        {% for technika in zakaz_items %}
        <div class="col-2">
        <!-- <div class="d-flex"> -->
            <!-- <div class="d-flex"> -->
                <div class="card-zakaz mb-3" style="width: 250px;">
                    <img src="{{technika.photo }}" class="img-fluid rounded-start" style="height: 250px; object-fit: contain;" alt="...">
                    
                    <div>
                        <div class="card-body">
                        <h3 class="card-title">{{ technika.name }}</h3>
                        </div>
                    </div>
                </div>
                

        {% endfor %}
        </div>
    </div>


</div>
{% endblock %}




